/*
	Styles that define position and the boxmodel of elements
*/

h1, h2 {
	letter-spacing: -1.25px;
	margin: 15px 0px 15px 15px;
}

p, span {
	margin-left: 15px;
	margin-right: 15px;
}


.topmargin {
	margin-top: 10px;
}

.textcentered {
	text-align: center;
}